<!DOCTYPE html>
<html lang="pt_br">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        
        <title>Proffy | Sua platforma de estudos online</title>

        <link rel="stylesheet" href="styles/main.css">
        <link rel="stylesheet" href="styles/partial/header.css">
        <link rel="stylesheet" href="styles/partial/pageGiveClasses.css">
        <link rel="stylesheet" href="styles/partial/forms.css">
        <link rel="shortcut icon" href="/images/favicon.png" type="image/png">
        
        <link href="https://fonts.googleapis.com/css2?family=Archivo:wght@400;700&amp;family=Poppins:wght@400;600&amp;display=swap" rel="stylesheet">

        <script src="/scripts/addField.js" defer></script>


    </head>
    <body id="pageGiveClasses">
        <div id="container">
            <header class="pageHeader">
                <div class="topBarContainer">
                    <a href="/">
                        <img src="images/icons/back.svg" alt="Voltar">
                    </a>
                    <img src="images/logo.svg" alt="Proffy">
                </div>

                <div class="headerContent">
                    <strong>Que incrível que você quer dar aulas.</strong>
                    <p>O primeiro passo, é preencher esse formulário de inscrição.</p>
                </div>                
            </header>

            <main>
                <form action="./giveClasses.html" id="createClass" method="GET">
                    <fieldset>
                        <legend>Seus Dados</legend>
                        <div class="inputBlock">
                            <label for="name">Nome Completo</label>
                            <input name="name" id="name" required>
                        </div>
                    
                        <div class="inputBlock">
                            <label for="avatar">Link sua foto<small>(comece com https://)</small></label>
                            <input name="avatar" id="avatar"  type="url" required>
                        </div>
                        
                        <div class="inputBlock">
                            <label for="whatsapp">whatsapp<small>(somente números)</small></label>
                            <input name="whatsapp" id="whatsapp" type="number" required>
                        </div>
                        <div class="textAreaBlock">
                            <label for="bio">Biografia</label>
                            <textarea name="bio" id="bio" cols="30" rows="10" required></textarea>
                        </div>
                    </fieldset>

                    <fieldset>
                        <legend>Sobre a Aula</legend>
                        <div class="selectBlock">
                            <label for="subject">Máteria</label>
                            <select name="subject" id="subject" required>
                                <option value="">-Selecione uma opção-</option>
                                <option value="">-Selecione uma opção-</option>
                                {%for subject in subjects %}
                                <option value="{{loop.index}}">{{subject}}</option>
                                {%endfor%}
                            </select>
                        </div>
                        <div class="inputBlock">
                            <label for="cost">Custo da sua hora/aula 
                                <small>(R$)</small>
                            </label>
                            <input name="cost" type="cost" id="cost" type="number" required>
                        </div>
                    </fieldset>

                    <fieldset id="scheduleItems">
                        <legend>Horários disponíveis
                            <button type="button" id="add-time">+ Novo Horário</button>
                        </legend>
                        <div class="scheduleItem">

                            <div class="selectBlock">
                                <label for="weekday">Dia da semana</label>
                                <select name="weekday[]" >
                                    <option value="">-Selecione uma opção-</option>
                                    {%for weekday in weekdays %}
                                    <option value="{{loop.index0}}"}>{{weekday}}</option>
                                    {%endfor%}
                                </select>
                            </div>

                            <div class="inputBlock">
                                <label for="timeFrom">Das</label>
                                <input type="time" name="timeFrom[]"required>
                            </div>
                            <div class="inputBlock">
                                <label for="timeTo">Até</label>
                                <input type="time" name="timeTo[]" required>
                            </div>
                        </div>
                    </fieldset>
                </form>

                <footer>
                    <p>
                        <img src="/images/icons/warning.svg" alt="aviso importante">
                        importante!<br> Preencha todos os daods
                    </p>
                    <button type="submit" form="createClass">Salvar cadastro</button>
                </footer>
            </main>
        </div>
    </body>
</html>
